{% extends "layout.html" %}
{% load static %}
{% block title %}index{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock css_file %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Başlık -->
            <div class="mb-4">
                <strong class="text-danger">{{ product.name }}</strong> ürünü silmek istiyor musunuz?
            </div>
            
            <!-- Form -->
            <form action="{% url 'delete' product.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Evet</button>
            </form>
            <a href="{% url 'list_view' %}" class="btn btn-primary">Hayır</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block js_scripts %}
<script src="{% static "js/script.js" %}"></script>
{% endblock js_scripts %}
