{% extends "layout.html" %} 
{% load static %}
{% block title %}Products{% endblock title %}

{% block css_file %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock css_file %}
{%block content %}
<div class="container">


<h1>{{ category|title }}</h1>
{% if products %}
<div>
  {% for product in products %}
  <div class="card-body">
    <hr>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static "img/1.jpg" %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product|title }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% else %}
{% include "partials/_no_products.html" %}

{% endif %}
</div> 
{% endblock content %}
{% block js_scripts %}<script src="{% static "js/script.js" %}"></script>{% endblock js_scripts %}
